/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

:root {
  --orange: #F2753B;
  --orange-light: #EBAD65;
  --black: #00000030;
}